.about {
  padding-bottom: 160px;
  &__title {
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}