.btn {
  display: inline-block;
  background-color: $secondary-darken;
  border-radius: 10px;
  line-height: 117%;
  transition: all .2s linear;
  cursor: pointer;
  &:hover {
    background-color: $secondary;
  }
}