.logo {
  display: flex;
  align-items: center;
  &__img {
    background-color: $secondary-darken;
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    margin-left: 1.5rem;

    &_red {
      color: $secondary-darken;
    }
  }
}