.roadmap {
  padding: 7rem 0 13rem 0;
}

.container_timeline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.roadmap__title {
  margin-bottom: 5rem;
  text-align: center;
}

.timeline {
  width: 100%;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.roadmap__item {
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.roadmap__item:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .timeline::before {
    content: "";
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #384D70;
  }
  .roadmap__item {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .roadmap__item:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-10px);
    border-radius: 20px 0px 20px 20px;
  }
  .roadmap__item:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(10px);
    border-radius: 0px 20px 20px 20px;
  }
  .roadmap__item::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 50%;
    transform: translateY(-50%);
  }
  .roadmap__item:nth-child(odd)::before {
    transform: translate(50%, 0);
    right: -10px;
  }
  .roadmap__item:nth-child(even)::before {
    transform: translate(-50%, 0);
    left: -10px;
  }
  .roadmap__item:hover::before {
    background-color: red;
  }

}

.timeline-card {
  display: flex;
  padding: 3.5rem 3rem;
  background: rgba(56, 77, 112, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
  max-width: 792px;

  &_light {
    background: #384D70;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__number {
    max-height: 14.5rem;
    margin-right: 3rem;
    padding: 3.5rem 5rem;
    background: #384D70;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 6.5rem;
    line-height: 120%;
    opacity: 0.5;
    &_light {
      background: #5E6F8B;
      opacity: 0.7;
    }
  }

  &__content {
    opacity: 0.7;
    &_light {
      opacity: 1;
    }
  }

  &__content time {
    display: block;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 3rem;
    line-height: 120%;
  }

  &__content ul {
    padding-left: 2.5rem;
  }

  &__content li {
    list-style-type: disc;
    font-size: 2.5rem;
    line-height: 1;
  }
}